/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* CSS Variables */
:root {
    --header-font: "Quicksand", sans-serif;
    --primary-font: "Sourcesans3", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
    --primary-color: #058095; /* blue lagoon */
    --secondary-color: #D8F0F0; /* swans down */
    --highlight-color: #26BFCC; /* scooter */
    --light-highlight-color: #8BD3D9; /* morning glory */
}


/* Global styles */

#background {
    background-image:url(../images/background-image.webp);
    background-size: cover;
    background-attachment: fixed;
}
        

h1,
h4 {
   font-family: var(--header-font);
   color: var(--primary-color);
}

h1 {
    font-weight: 700;
}

h2 {
   font-family: var(--secondary-font);
   color: var(--highlight-color);
   font-weight: 50px;
}

h1,
h4 {
    text-transform: uppercase;
}

/* Navbar */

#navbar {
    font-family: var(--secondary-font);
    background-color: var(--secondary-color);
}

.logo {
    width: 60px;
}

/* Header */


/* Main element */

.icon-link {
    width: 140px;
}

/* Enquiry form */

#enquiry-form {
    border-style: solid;
    border-radius: 20px;
    border-color: var(--light-highlight-color);
}

/* Footer / contact */

#contact {
    background-color: #D8F0F0;
    padding-bottom: 3rem;
}

#contact .social-links i {
    color:var(--primary-color);
    font-size: 2rem;
}



/* grid visualisation CSS for testing */

/* .container,
row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgrey;
}
*/
