/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Over+the+Rainbow&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Montserrat", sans-serif;
    --secondary-font: "Over the Rainbow", calligraphy;
    --primary-color: #058095; /* blue lagoon */
    --secondary-color: #D8F0F0; /* swans down */
    --highlight-color: #26BFCC; /* scooter */
    --light-highlight-color: #8BD3D9; /* morning glory */
}


/* Global styles */

body {
    background-image:url(../images/background-image.webp);
    background-size: cover;
    background-attachment: fixed;
    background-color: #f9f9f9;
}
        

h1,
h2,
h3 {
   font-family: var(--secondary-font);
   color: var(--primary-color);
}

h5 {
    font-family: var(--secondary-font);
    color: var(--highlight-color);
}

p {
    font-family: var(--primary-font);
}

.sub-heading-color {
    color: var(--primary-color);
}

.section {
    padding-top: 5rem; /* prevent navbar overlap */
}

/* Buttons */

.custom-button-filled {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
}

.custom-button-filled:hover {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: white;
}

/* Navbar */

#navbar {
    font-family: var(--primary-font);
    background-color: var(--secondary-color);
}

.logo {
    width: 60px;
}

/* Gallery */

.image-style {
    border: solid 2px;
    border-color: var(--secondary-color);
    border-radius: 50%;
    margin: 10px;
}

/* Testimonials */

#testimonials .card-body {
    background-color:#f9f9f9;
    border: solid 1px;
    border-color: var(--secondary-color)
}

/* Enquiry main/form */

#enquiry-main {
    margin: 2rem; /* 1 rem equals 16px */
}

#enquiry {
    box-shadow: 0 5px 5px 1px var(--secondary-color);
    background-color: white;
    padding-bottom: 1rem;
}

/* Footer / contact */

#contact {
    background-color: #D8F0F0;
    padding-top: 1rem;
}

#contact .social-links i {
    color:var(--primary-color);
    font-size: 2rem;
}


/* Media query to hide background image below 425px */

@media screen and (max-width: 576px) {
body {
    background-image: none;
    background-color: #f9f9f9;
    }
}



